# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Static files generated during runtime
static/uploads/*
static/processed/*
!static/uploads/.gitkeep
!static/processed/.gitkeep

# OS specific
.DS_Store
Thumbs.db 